
  name: BuildAllPlatforms

  on:
    workflow_dispatch:
    pull_request:
      branches: [main]
        
  env:
    UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
    UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
    UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}

  jobs:   
    buildForAllSupportedPlatforms:
      name: Build for ${{ matrix.targetPlatform }}
      runs-on: ubuntu-latest
      
      strategy:
        fail-fast: false
        matrix:
          projectPath: 
            - InworldBuildTest~
          unityVersion: 
            - 2022.3.4f1
          testMode:
            - playmode
          targetPlatform:
            - StandaloneOSX # Build a macOS standalone (Intel 64-bit).
            - StandaloneWindows # Build a Windows standalone.
            - StandaloneWindows64 # Build a Windows 64-bit standalone.
            - iOS # Build an iOS player.
            - Android # Build an Android .apk standalone app.

      steps:
          - name: Checkout Repo
            uses: actions/checkout@v3
            with:
              lfs: true        

          - name: Cache Library          
            uses: actions/cache@v3
            with:
              path: Library
              key: Library-${{ matrix.targetPlatform }}
              restore-keys: Library-
          
          - name: Run tests
            uses: game-ci/unity-test-runner@v4
            env:
              UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
              UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
              UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
            with:
              githubToken: ${{ secrets.GITHUB_TOKEN }}
              projectPath: "../InworldBuildTest~"
           
          

