
name: BuildAllPlatforms

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
      
env:
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}

jobs:   
  buildForAllSupportedPlatforms:
    name: Build for ${{ matrix.targetPlatform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneOSX # Build a macOS standalone (Intel 64-bit).
          - StandaloneWindows64 # Build a Windows 64-bit standalone.
          - Android # Build a Windows standalone.
          - iOS # Build an iOS player.
          - WebGL
    steps:
        - name: Free disk
          run: chmod +x ./.github/builds/free.sh && ./.github/builds/free.sh

        - name: Checkout Repo
          uses: actions/checkout@v4
          with:
            lfs: true       
            
        - name: Cleanup before build
          run: |
            docker system prune -af
            docker volume prune -f

        - name: Cache Library          
          uses: actions/cache@v4
          with:
            path: Library
            key: Library-${{ matrix.targetPlatform }}
            restore-keys: Library-

        - name: Build Test
          uses: game-ci/unity-builder@v4
          with:
            buildMethod: Inworld.UnityPackageExporter.BuildTestScene            
            unityVersion: 2022.3.34f1
            targetPlatform: ${{ matrix.targetPlatform }}



